<!DOCTYPE html>
<html>
<head>
  <title>GlycoRNADataBase-糖基化RNA数据库</title>

  <meta charset="utf-8">
  <meta name="description" content="This database provides information related to GlycoRNA. ">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon1-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon1-16x16.png">
  <link rel="icon" type="image/ico" href="favicon1.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?83a5ce6ac97cb1ac69b8bab476a5fcb0";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<!-- quasar:entry-point -->
</body>

<footer class="footer" style="text-align: center; margin-bottom: 15px; font-size: 18px;">
  <div class="container" style="margin: 0 auto; max-width: 800px;">
    <span class="text-muted">© Copyright 2024 Zheng Lab. School of Life Science, Sun Yat-sen University, China.</span>
    <a href="https://beian.miit.gov.cn/" target="_blank">吉ICP备2024018062号-1</a>
  </div>
</footer>

</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 确保整个页面至少占满视口高度 */
    margin: 0; /* 移除默认的 margin */
  }

  .footer {
    margin-top: auto; /* 使 footer 始终位于底部 */
    padding: 15px; /* 为 footer 添加内边距 */
    background-color: #f8f9fa; /* 可选：为 footer 添加背景颜色 */
  }
</style>
